<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <a class="navbar-brand" href="#">Update 24x7</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <img src="https://picsum.photos/200" class="rounded-circle" width="40" height="40" alt="Logo"/>
        </li>
        <li class="nav-item">
            <a class="nav-link"  style="color : black" href="/common/home/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color : black" href="/common/sports/">Sports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color : black" href="/common/aboutus/">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color : black" href="/common/contactus/">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <hr>